<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/regist-form.css">
</head>

<body th:onload="wishLikeState2([[${session.member?.mId}]])">
<content class="regist-frame">
<th:block th:include="./header"></th:block>
    <p type="hidden" th:text="${session.member?.mId}" id="session-id" style="visibility:hidden"></p>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> 홈</a>
                    <span>내 정보</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="coupon__link"><span class="icon_tag_alt"></span>환영합니다!  [[${info?.mName}]]님!   </a></h6>
            </div>
        </div>
        <form action="../member/join" th:method="post" enctype="multipart/form-data" class="checkout__form">
            <div class="row">
                <th:block th:include="MemberLeftSide"></th:block>
<!--                <div class="col-lg-3 col-md-3" style="clear: both;">-->
<!--                    <div class="shop__sidebar">-->
<!--                        <div class="sidebar__categories">-->
<!--                            <div class="section-title">-->
<!--                                <h4>내 정보</h4>-->
<!--                            </div>-->
<!--                            <div class="categories__accordion">-->
<!--                                <div class="accordion" id="accordionExample">-->
<!--                                    <div class="card">-->
<!--                                        <div class="card-heading active">-->
<!--                                            <a data-toggle="collapse" data-target="#collapseOne">회원정보</a>-->
<!--                                        </div>-->
<!--                                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample">-->
<!--                                            <div class="card-body">-->
<!--                                                <ul>-->
<!--                                                    <li><a th:href="@{'/member/'+${session.member?.mId}}">내 정보</a></li>-->
<!--                                                    <li><a th:href="@{'/member/modify/'+${session.member?.mId}}">내 정보 수정</a></li>-->
<!--                                                    <li><a th:href="@{'/member/delete/'+${session.member?.mId}}">회원 탈퇴</a></li>-->
<!--                                                    <li><a href="#">찜 목록</a></li>-->
<!--                                                    <li><a href="#">T-shirts</a></li>-->
<!--                                                    <li><a href="#">Jeans</a></li>-->
<!--                                                </ul>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="card">-->
<!--                                        <div class="card-heading">-->
<!--                                            <a data-toggle="collapse" data-target="#collapseTwo">주문정보</a>-->
<!--                                        </div>-->
<!--                                        <div id="collapseTwo" class="collapse" data-parent="#accordionExample">-->
<!--                                            <div class="card-body">-->
<!--                                                <ul>-->
<!--                                                    <li><a href="#">구매 내역</a></li>-->
<!--                                                    <li><a href="#"></a></li>-->
<!--                                                    <li><a href="#">Dresses</a></li>-->
<!--                                                    <li><a href="#">Shirts</a></li>-->
<!--                                                    <li><a href="#">T-shirts</a></li>-->
<!--                                                    <li><a href="#">Jeans</a></li>-->
<!--                                                </ul>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="card" th:if="${session.member?.mId == 'admin'}">-->
<!--                                        <div class="card-heading">-->
<!--                                            <a data-toggle="collapse" data-target="#collapseThree">회원관리</a>-->
<!--                                        </div>-->
<!--                                        <div id="collapseThree" class="collapse" data-parent="#accordionExample">-->
<!--                                            <div class="card-body">-->
<!--                                                <ul>-->
<!--                                                    <li><a href="#">회원 목록</a></li>-->
<!--                                                    <li><a href="#">탈퇴회원 목록</a></li>-->

<!--                                                </ul>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->


<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->



<!--                    </div>-->
<!--                </div>-->
                <div class="col-lg-8">
                    <h5 style="text-align: center;">회원정보</h5>
                    <div class="row" style="justify-content: center;">

                        <div class="col-lg-7">
                            <div class="checkout__form__input">
                                <p>아이디 <span>*</span></p>
                                <p th:text="${session.member?.mId}" id="id-check"></p>

<!--                                <input type="text" name="mId" id="user-id" th:value="${info?.mId}" required maxlength="10" size="15"-->
<!--                                       onkeyup="this.value=this.value.replace(/[^a-z0-9-_]/g,'');">-->
<!--                                <span></span>-->
                            </div>
                            <div class="checkout__form__input">
                                <p>이름 <span>*</span></p>
<!--                                <input type="text" name="mName" required>-->
                                <p th:text="${info?.mName}"></p>
                            </div>
                            <div class="checkout__form__input">
                                <p>생년월일 <span>*</span></p>
<!--                                <input type="date" name="mBirth" required>-->
                                <p th:text="${info?.mBirth}"></p>
                            </div>
                            <div class="checkout__form__input">
                                <p>성별<span> *</span></p>
<!--                                <span style="font-size: 15px;">남자  <input type="radio" name="mGender" value="남" style="width:25px;height:15px;border:1px;" required></span>-->
<!--                                <span style="font-size: 15px;">여자  <input type="radio" name="mGender" value="여" style="width:25px;height:15px;border:1px;" required></span>-->
                                <p th:text="${info?.mGender}"></p>

                            </div>
                            <div class="checkout__form__input">
                                <p>전화번호 <span>*</span></p>
<!--                                <input type="number" name="mPhone" required>-->
                                <p th:text="${info?.mPhone}"></p>
                            </div>
                        </div>

                        <div class="col-lg-7">
<!--                            <div class="checkout__form__input">-->
                                <p style="color: #444444; margin-bottom: 10px">주소 <span style="color: #ca1515">*</span></p>
<!--                                <div class="form-group">-->
<!--&lt;!&ndash;                                    <label for="website" class="w-100">&ndash;&gt;-->
<!--                                        <input type="text" id="sample6_postcode" placeholder="우편번호"-->
<!--                                               name="addr1" required>-->
<!--                                        <button type="button" onclick="sample6_execDaumPostcode()">우편번호 찾기</button>-->
<!--                                        <br/>-->
<!--                                         <input type="text" id="sample6_address"-->
<!--                                                    placeholder="주소" name="addr2" required><br> <input-->
<!--                                                type="text" id="sample6_detailAddress" placeholder="상세주소"-->
<!--                                                name="addr3" required>-->
<!--&lt;!&ndash;                                    </label>&ndash;&gt;-->
<!--                                </div>-->
<!--                                <input type="text" name="mAddr">-->
<!--                            </div>-->
                            <p th:text="${info?.mAddr}"></p>
                        </div>
                        <div class="col-lg-7">
                            <div class="checkout__form__input">
                                <p style="color: #444444; margin-bottom: 10px">이메일 <span style="color: #ca1515">*</span></p>
                                <p th:text="${info?.mEmail}"></p>
<!--                                <input type="email" name="mEmail" id="user-email" required>-->
<!--                                <span></span><br/>-->
<!--                                <button id="check-email" type="button">중복확인</button>-->
<!--                                <span id="inputUUID"><button id="mEmail" type="button">인증번호 발송</button></span>-->

                            </div>

                            <div>
                                <p style="color: #444444; margin-bottom: 10px; margin-top: 10px">프로필 이미지 <span style="color: #ca1515">*</span></p>
<!--                                <input type="file" name="mProfile">-->
                                <img th:src="@{/profile/{aa}(aa=${info?.mProfileName})}" style="width:200px">
                            </div>



                        </div>
                        <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Phone <span>*</span></p>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Email <span>*</span></p>
                                <input type="text">
                            </div>
                        </div> -->



                    </div>

                </div>
            </div>
        </form>
    </div>
</section>
<!-- Checkout Section End -->
    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/main.js"></script>
    <script defer src="/js/addr.js"></script>
    <script defer src="/js/urlPathValue.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!--    <script defer src="../js/regist.js"></script>-->
    <th:block th:include="./footer"></th:block>
</content>


</body>


</html>