<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/OrderList.css" type="text/css">
    <style>
    ul {list-style-type: none; text-align : left }
    li { margin : 5px; display : inline-block }

    </style>

<body>
<content class="regist-frame">
    <th:block th:include="./header"></th:block>


    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Cart Section Begin -->


    <section class="checkout spad">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <h6 class="coupon__link"><span class="icon_tag_alt"></span><a
                            href="../member/login-form"><u></u></a></h6>
                </div>
                <!-- sidebar -->
                <th:block th:include="./MemberLeftSide"></th:block>


                <!--        -->
                <div class="shop__cart__table col-lg-10"
                     style="margin : auto; border : 3px solid #CA1515; padding : 15px; text-align:center;">
                    <table id="products">
                        <form action="" id="setRows" style="margin : auto;">
                            <input type="hidden" name="rowPerPage" value="5">
                        </form>
                        <div class="row">
                            <!--                        -->
                            <thead>
                            <!-- <h3 >ordered</h3><br/> -->
                            <tr>
<!--                                <th>신청번호</th>-->
                                <th>주문번호</th>
                                <th>주문자</th>
                                <th>주문금액</th>
                                <th>주문날짜</th>
                                <th>취소사유</th>
                                <th>진행상태</th>

                            </tr>
                            </thead>
                            <tbody>


                            <tr th:each="list : ${list}">
<!--                                <td><img style="width:150px; height:200px; margin-right:30px; "-->
<!--                                    th:src="@{/upload/{aa}(aa=${list?.pdImage1})}" th:text="${list?.pdName}"></td>-->
<!--                                <td th:if="${list?.ocNum eq null}">결과가 없습니다.</td>-->
<!--                                <td th:text="${list?.osNum}"></td>-->
                                <td ><a th:href="@{orderView(orNum=${list.orNum})}">[[${list?.orNum}]]</a></td>
                                <td th:text="${list?.mId}"></td>
                                <td data-th-text="${#numbers.formatInteger(list?.orPrice, 3, 'COMMA') + '원'}"></td>
                                <td th:text="${list?.osDate}"></td>
                                <td th:text="${list?.osReason}"></td>
                                <td th:if="${list?.osState eq null}"style = "color:#CA1515;">취소신청 완료</td>
<!--                                <td><a th:href="@{orderView(orNum=${list.orNum})}">주문내역 확인</a></td>-->
<!--                                <td th:if ="${list?.ocNum eq null} and ">취소신청 내역이 없습니다.</td>-->
                            </tr>

                            </tbody>


                        </div>
                    </table>


                </div>
            </div>
        </div>
        </div>

        </div>
    </section>
    <!-- Shop Cart Section End -->


    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/OrderPaging.js"></script>


    <th:block th:include="./footer"></th:block>
</content>

</body>

</html>